@using System.Collections.Specialized

@{
    ViewBag.Title = "CourseView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button type="button" class="btn btn-info" id="CourseCreateButton"> Basic Info</button>
<button type="button" class="btn btn-info" id="TrainerCreateButton"> Trainer Create</button>
<button type="button" class="btn btn-info" id="CourseExamButton"> Create Exams</button>



<div>
    
    <div id="PartialTrainerLoadDiv"></div>
</div>




@section Scripts{

<script src="~/Scripts/Project/Course/TraninerCreate.js"></script>
}